.main-footer {
    background-color: var(--white);
    padding: 20px 0;
}

.footer-content {
    margin-bottom: 20px;
}

.footer-menu {}


.footer-menu ul li {
    margin: 0;
}

.footer-menu ul li a {
    font-size: 16px;
    line-height: 20px;
    color: var(--black);
    transition: 0.2s ease;
}
.footer-menu ul li a:hover {
    color: var(--primary-color);
}
.footer_socials {
    flex-shrink: 0;
}
.soc_link {
    height: 20px;
    transition: 0.2s ease;
}
.soc_link:hover,
.soc-item:hover {
    filter: brightness(0) saturate(100%) invert(68%) sepia(23%) saturate(6400%) hue-rotate(2deg) brightness(105%) contrast(104%);
}
.under-footer {}

.copyright {
    font-size: 16px;
    line-height: 20px;
    color: var(--black);
}

.isart {
    font-size: 16px;
    line-height: 20px;
    color: var(--black);
}