.marquee_wrapper {
    background-color: #fff;
}

.marquee {
    flex-wrap: nowrap;
    gap: 30px;
    padding: 8px;
    background-color: #fff;
    animation: scroll 50s linear infinite;
}

.marquee>div {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px;
}

@keyframes scroll {
    100% {
        transform: translate3d(calc(-100% - 30px), 0, 0);
    }
}

.marquee p {
    white-space: nowrap;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.marquee p:after {
    content: "/";
    margin-left: 30px;
}


.btn-hamburger {
    width: 27px;
    height: 22px;
}

.menu-icon {
    width: 100%;
    height: 20px;
}

.menu-icon span {
    display: block;
    width: 27px;
    height: 1px;
    background-color: #282a2e;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

.menu-icon span:nth-child(1) {
    top: 4px;
}

.menu-icon span:nth-child(2) {
    bottom: 4px;
}

@media (min-width: 1280px) {
    .btn-hamburger:hover {
        span:nth-child(1) {
            width: 24px;
        }

        span:nth-child(2) {
            width: 20px;
        }
    }

}

.main-header {
    overflow: hidden;
    z-index: 2;
}

.main-header-content {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    background-color: var(--white);
    border-radius: 5px;
}

.main-header-left {
    grid-column: 1 / 5;
    gap: 20px;
}

.conf_link {
    font-size: 16px;
    line-height: 22px;
    color: var(--black);
    transition: 0.2s ease;
}

.conf_link:hover {
    color: var(--primary-color);
}

.header_logo {
    grid-column: span 4;
    width: fit-content;
    margin: 0 auto;
}

.main-header-right {
    grid-column: 9 / -1;
    gap: 20px;
}

.header_control {
    width: 20px;
    height: 20px;
}

.main-header-cart--count {
    width: 15px;
    height: 15px;
    background-color: var(--primary-color);
    border-radius: 8px;
    font-size: 10px;
    line-height: 130%;
    color: var(--white);
    bottom: -5px;
    right: -5px;
}

.main-header .mobile-nav-item {
    display: none;
}

.mobile_menu {
    display: flex;
    flex-direction: column;
    width: 490px;
    background-color: var(--white);
    padding: 50px 65px;
    left: -110%;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 101;
    transition: 0.4s ease;
}

.mobile_menu.active {
    left: 0;
}

.mobile_menu_buttons {
    gap: 40px;
    margin-bottom: 30px;
}

.btn_mobile_menu {
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: var(--black);
    position: relative;
    cursor: pointer;
}

.btn_mobile_menu.active:after {
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
}

.mobile_menu_list {
    flex-grow: 1;
    overflow: auto;
}

.mobile_menu_list_inner {
    margin-bottom: 30px;
}

.mobile_menu_list_inner ul {
    display: none;
    gap: 30px;
}

.mobile_menu_list_inner ul.vis {
    display: flex;
}

.mobile_menu_list ul {
    gap: 30px;
}

.mobile_menu_list ul li {
    margin: 0;
}

.mobile_menu_list ul li a {
    font-size: 18px;
    line-height: 22px;
    color: var(--black);
    transition: 0.2s ease;
}

.mobile_menu_list ul li a:hover {
    color: var(--primary-color);
}

.menu_socials {
    padding-top: 30px;
    gap: 40px;
    margin-top: auto;
}

.soc-item {
    transition: 0.2s ease;
}
a.soc-item img {
    height: 28px;
}
.main-header_cats {
    padding: 5px 0;
    border-radius: 5px;
    background-color: var(--primary-color);
}

.catsSwiper {
    max-width: 100%;
    width: fit-content;
    padding: 0 70px;
}

.catsSwiper .swiper-slide {
    width: fit-content;
}

.catsSwiper .swiper-slide a {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--black);
    transition: 0.2s ease;
}

.catsSwiper .swiper-slide a:hover {
    color: var(--white);
}

.mobile-nav {
    min-width: 360px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 54px;
    z-index: 12;
    background-color: #fff;
    border-top: 0.5px solid rgba(60, 60, 67, 0.36);
    padding: 0 12px;
}

@media (min-width: 768px) {

    .mobile-nav,
    .mobile-nav-item {
        display: none;
    }
}

.mobile-nav-item {
    width: 60px;
    height: 42px;
    justify-content: center;
    gap: 3px;
}

.mobile-nav-item--icon {
    height: 20px;
}
.mobile-nav-item--icon img {
    height: 100%;
}
.mobile-nav-item--name {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #8E8E93;
}

.mobile-nav .main-header-cart {
    display: none;
}

.search-widget-wrapper {
    background-color: var(--white);
    max-width: 100%;
    width: 100%;
    padding: 60px 12px!important;
    z-index: 101;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
}
.search-widget-wrapper .btn_search {
    position: absolute;
    right: 20px;
    top: 20px;
}
.mobile-menu.active,
.search-widget-wrapper.visible {
    visibility: visible;
    opacity: 1;
}

.is-form-style {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
}

.is-form-style.is-form-style-3 label {
    width: calc(100% - 64px) !important;
}

.is-form-style input.is-search-input {
    height: 40px!important;
    background: transparent !important;
    color: var(--black);
    padding: 7px 0;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 20px;
    border: none !important;
    border-bottom: 1px solid var(--gray)!important;
}

.is-form-style button.is-search-submit {
    width: 54px;
    height: 40px !important;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

span.is-search-icon {
    width: 24px;
    background-color: transparent;
    background-image: url(../images/search.svg) !important;
    background-repeat: no-repeat !important;
    background-position: 50% !important;
    border: none;
}

span.is-search-icon svg {
    display: none;
}

div.is-ajax-search-details, div.is-ajax-search-result {
    max-height: calc(100vh - 100px) !important;
    left: 0 !important;
    right: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
    box-sizing: border-box;
    padding: 0 !important;
    background-color: #fff !important;
}
.simplebar-mask {
    top: 0!important;
}
.simplebar-content {
    padding: 28px 0 30px!important;
}
.is-ajax-search-items {
    max-height: calc(100vh - 100px) !important;
    max-width: 360px;
    width: 100%;
    margin: 0 auto!important;
}

.is-ajax-search-post,
.is-ajax-search-post-details {
    padding: 0px !important;
    border-bottom: 1px solid rgba(250, 250, 250, 0.25) !important;
    background: transparent !important;
    margin-bottom: 10px!important;
}

.is-search-sections {
    display: flex;
    justify-content: space-between;
}

.is-search-sections .left-section {
    float: none !important;
    flex-shrink: 0;
    overflow: hidden;
    display: none!important;
}

.is-search-sections .right-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.is-search-sections .thumbnail {
    margin-right: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.is-search-sections .thumbnail a {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
}

.is-search-sections .thumbnail img {
    float: none !important;
    max-width: 100% !important;
    margin-right: 15px !important;
    width: 203px !important;
    height: 143px !important;
    object-fit: cover !important;
    border-radius: 2px !important;
}

.is-search-sections .meta {
    display: none!important;
    margin: 0 !important;
    order: -1;
}

.is-search-sections .meta i {
    display: none;
}

span.is-meta-tag {
    margin-bottom: 30px;
    display: block;
}
span.is-cat-links {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
}
span.is-cat-links a {
    font-size: 12px !important;
}
.is-ajax-search-details a,
.is-ajax-search-result a {
    color: var(--black) !important;
    font-size: 16px !important;
}

.is-tags-links a {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--black) !important;
    font-size: 16px !important;
    line-height: 24px !important;
    pointer-events: none;
    opacity: 0.6;
}

.is-ajax-result-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 16px !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: var(--black) !important;
    opacity: 0.6;
}

.is-search-icon:hover,
form.is-form-style input.is-search-submit:hover {
    background-color: transparent !important;
}

.is-ajax-search .is-loader-image {
    right: 20px !important;
}